body {
   background-color: #1f1f1f;
   color: #eee;
   padding: 2rem;
}

.library {
   padding: 2em 4em;
   border: 1px solid salmon;
   display: grid;
   gap: 1rem;
}

.book {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 1rem;
   align-items: center;
   background-color: rgb(71, 17, 17);
   padding: 1em 4em;
}

#addBookDialog {
   background-color: #1f1f1f;
   color: #eee;
}